<div class="contact d-flex text-black">
  <div class="flex-shrink-0">
    <img
      src="KO.jpg"
      alt="Generic placeholder image"
      style="width: 180px; border-radius: 10px;"
    />
  </div>
  <div class="flex-grow-1 ms-3">
    <h5 class="mb-1">Onay Karakulak</h5>
    <p class="mb-2 pb-1" style="color: #2b2a2a;">onayau@gmail.com</p>
  </div>
</div>

<div class="contact d-flex text-black">
  <div class="flex-shrink-0">
    <img
      src="SB.jpg"
      alt="Generic placeholder image"
      style="width: 180px; border-radius: 10px;"
    />
  </div>
  <div class="flex-grow-1 ms-3">
    <h5 class="mb-1">Ben Smerd</h5>
    <p class="mb-2 pb-1" style="color: #2b2a2a;">bsmerd@adam.com.au</p>
  </div>
</div>

<div class="contact d-flex text-black">
  <div class="flex-shrink-0">
    <img
      src="SP.jpg"
      alt="Generic placeholder image"
      style="width: 180px; border-radius: 10px;"
    />
  </div>
  <div class="flex-grow-1 ms-3">
    <h5 class="mb-1">Stathis Politis</h5>
    <p class="mb-2 pb-1" style="color: #2b2a2a;">stathis.politis@bigpond.com</p>
  </div>
</div>

<div class="contact d-flex text-black">
  <div class="flex-shrink-0">
    <img
      src="YF.jpg"
      alt="Generic placeholder image"
      style="width: 180px; border-radius: 10px;"
    />
  </div>
  <div class="flex-grow-1 ms-3">
    <h5 class="mb-1">Feiyu Yin</h5>
    <p class="mb-2 pb-1" style="color: #2b2a2a;">allen20ray@hotmail.com</p>
  </div>
</div>