<div class="login-page">
  <div class="form">
    <form class="signup-form">
      <input type="text" id="name-signup" placeholder="name" />
      <input type="password" id="password-signup" placeholder="password" />
      <input type="text" id="email-signup" placeholder="email address" />
      <button type="submit">create</button>
      <p class="message">Already registered? <a href="#">Sign In</a></p>
    </form>
  </div>
</div>

<script src="/js/signup.js"></script>