/* HEADER/TITLE */
.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 60px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

.title-word {
  animation: color-animation 4s linear infinite;
}

.title-word-1 {
  --color-1: #df8453;
  --color-2: #3d8dae;
  --color-3: #31ad12;
}

@keyframes color-animation {
  0% {
    color: var(--color-1);
  }
  32% {
    color: var(--color-1);
  }
  33% {
    color: var(--color-2);
  }
  65% {
    color: var(--color-2);
  }
  66% {
    color: var(--color-3);
  }
  99% {
    color: var(--color-3);
  }
  100% {
    color: var(--color-1);
  }
}

/* SOME VISUAL STYLES. 🖌 */
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 460px;
  padding: 2% 0 0;
  margin: auto;
}

.form {
  position: relative;
  z-index: 1;
  background: #ffffff;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 10px;
}

.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4caf50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form button:hover,
.form button:active,
.form button:focus {
  background: #43a047;
}

.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}

.form .message a {
  color: #4caf50;
  text-decoration: none;
}

.form .register-form {
  display: none;
}

.container:before,
.container:after {
  content: "";
  display: block;
  clear: both;
}

.container .info {
  margin: 50px auto;
}

.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}

.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}

.container .info span a {
  color: #000000;
  text-decoration: none;
}

.container .info span .fa {
  color: #ef3b3a;
}

/* LINKS */

ul {
  padding: 1px;
  display: flex;
  justify-content: center;
  font-family: "Actor";
}

ul li {
  list-style: none;
  padding: 0px 5%;
}

ul li a {
  text-decoration: none;
  font-size: 15px;
  color: rgb(126, 126, 126);
  text-align: center;
  position: relative;
}

ul li a::before {
  content: "";
  width: 10px;
  border-radius: 1px;
  height: 5px;
  background: #4caf50;
  position: absolute;
  top: 100%;
  left: 0;
  transition: 0.4s;
}

ul li:hover a::before {
  width: 50%;
  transform: translateX(90%);
}

ul li a::after {
  content: "";
  width: 10px;
  border-radius: 1px;
  height: 5px;
  background: #4caf50;
  position: absolute;
  top: 100%;
  left: 0;
  transition: 0.4s;
}

ul li:hover a::after {
  width: 50%;
  transform: translateX(10%);
}

/* Start of the comments section on cryptoProfile page */
.commentInput {
  margin-top: 30px;
}

.tip {
  width: 0px;
  height: 0px;
  position: absolute;
  background: transparent;
  border: 10px solid #ccc;
}

.tip-up {
  top: -25px; /* Same as body margin top + border */
  left: 10px;
  border-right-color: transparent;
  border-left-color: transparent;
  border-top-color: transparent;
}

.dialogbox .commentBox {
  position: relative;
  max-width: 300px;
  height: auto;
  margin: 20px 10px;
  padding: 5px;
  background-color: #dadada;
  border-radius: 3px;
  border: 5px solid #ccc;
}

.commentBox .message {
  min-height: 30px;
  border-radius: 3px;
  font-family: Arial;
  font-size: 14px;
  line-height: 1.5;
  color: #797979;
}

.counter {
  display: inline;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 10px;
}

.posts {
  clear: both;
  list-style: none;
  padding-left: 0;
  text-align: left;
  display: list-item;
  margin-top: 100px;
}

.posts li {
  background-color: #fff;
  border: 1.5px solid #d8d8d8;
  border-radius: 10px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  word-wrap: break-word;
  min-height: 42px;
  box-shadow: 8px 8px 5px #888888;
}
/* End of the comments section on cryptoProfile page */

/* profile page*/
.card {
  display: flex;
  position: absolute;
  width: 350px;
  background-color: #efefef;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
}

.image img {
  transition: all 0.5s;
}

.card:hover .image img {
  transform: scale(1.5);
}

/* .btn {
  height: 140px;
  width: 140px;
  border-radius: 50%;
} */

.name {
  font-size: 22px;
  font-weight: bold;
}

.idd {
  font-size: 14px;
  font-weight: 600;
}

.idd1 {
  font-size: 12px;
}

.number {
  font-size: 22px;
  font-weight: bold;
}

.follow {
  font-size: 12px;
  font-weight: 500;
  color: #444444;
}

/* .btn1 {
  height: 0px;
  width: 150px;
  border: none;
  background-color: #000;
  color: #aeaeae;
  font-size: 15px;
} */

.text span {
  font-size: 13px;
  color: #545454;
  font-weight: 500;
}

.icons i {
  font-size: 19px;
}

hr .new1 {
  border: 1px solid;
}

.join {
  font-size: 14px;
  color: #a0a0a0;
  font-weight: bold;
}

.date {
  background-color: #ccc;
}

.container1 {
  text-align: center;
  position: relative;
}
